#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/usr/share/pixmaps/securedrop.png
Name[en_US]=SecureDrop Air-Gap
Exec=/usr/bin/securedrop-airgap
Name=SecureDrop Air-Gap
Icon=/usr/share/pixmaps/securedrop.png
